#container{
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

body {
  font-weight: bold;
  background-color: rgb(130, 202, 81);
  color: black;
}

* {
  background-color: none;
  margin: 0;
  padding: 0;
}

h1
h2
h3 {
  color: black;
  font-weight: bold;
}

p {
  line-height: 20px;
  text-align: center;
}

nav ul{
  background-color: darkgreen;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  padding: 10px;
}

h1,
h2 {
  border: 1px solid black;
  background-color: darkgreen;
  padding: 5px;
}

main ul{
  /* border: 2px solid red; */
  width: 100%;
  margin: 20px auto;
  min-height: 78vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;

  box-shadow: 0 0 100px none;
  border-radius: 10px;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: darkgreen;
  color: black;
  font-weight: bold;
  display: flex;
  align-items: center;
  flex-direction: column;
}

#menu-principal {
  background-color: darkgreen;
  border-top: 1px solid rgb(3, 63, 3);
  font-size: 16px;
  padding: 10px 0px 10px;
}

#menu-principal a:hover {
  color: black;
  background-color: rgb(3, 63, 3);
  border-bottom: 3px solid rgb(3, 63, 3);
  transition: 0.3s all;
}

aside {
  background-color: chartreuse;
  text-decoration: overline;
}

#section-figure {
  text-align: center;
}

#section-sobre-ias {
  background-color: darkgreen;
  border-top: 1px solid rgb(3, 63, 3);
  font-size: 16px;
  padding: 10px 0px 10px;
}

table {
  width: 60%;
  text-align: center;
  margin-left: 275px;
}

th
td {
  border: 2px solid;
  background-color: white;
}

#formulario-contacto{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  max-width: 450px;
  margin: auto;
}

#formulario-contacto label{
  width: 50%;
}

#formulario-contacto input, #formulario-contacto select{
  width: 100%;
  padding: 10%;
}

#formulario-contacto textarea, #formulario-contacto button{
  width: 100%;
  padding: 10px;
}